:root {
    --primary-color: #3D3D3D;
    --pink: #cd2653;
    --orange: #FE8F01;

}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    color: var(--primary-color);
    font-family: Arial, Sans-serif;
    background-image: url("images/background.jpg");

}

header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px 40px;
    gap: 20px;

}

a, a:hover {
    text-decoration: none;
}

h1 {
    padding: 0;
    margin: 0;
    color: var(--primary-color);
    width: 40%;
    font-size: 24px;
}

h2 {
    font-size: 36px;
    text-transform: uppercase;
    margin: 10px 0;
}


p, li {
    line-height: 1.5;
}


nav {
    background-color: var(--orange);
    display: flex;
    align-items: center;
    justify-content: center;
}


h5 {
    margin: 15px 0 0 0;
    font-size: 17px;
    text-transform: uppercase;
}


footer {
    background-color: var(--primary-color);
    color: #fff;
}


h3 {
    font-size: 24px;
    text-transform: uppercase;
}


li {
    padding: 5px 0;
}

@media (max-width: 1200px) {
    header {
        flex-wrap: wrap;
        padding: 0;
    }

    h1 {
        width: auto;
        text-align: center;
    }
}